# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env
.env.*
*.sqlite3

# Streamlit secrets
.streamlit/secrets.toml

# VSCode or IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db